.Deck-page-layout {
  max-height: 100%;
  overflow: auto;
  flex: 1;
  padding: 24;
}

.Home-page-layout {
  position: absolute;
  background-color:aliceblue;
  overflow: hidden;
}

.Stats-page-layout {
  margin-bottom: 50px;
  left: 2vw;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 150px;
}

.lds-dual-ring {
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: flex;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 10px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-loader {
  position: flex;
}

.Episode-card {
  position: relative;
  background-color: whitesmoke;
  display: grid;
  width: 75%;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
  padding: 30px;
  margin-bottom: 30px;
}

.podcast-list-layout {
  background-color: transparent;
  left: 2vw;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 100px;
}

.card-heading {
  text-align: center;
  font-weight: bolder;
}

.card-content {
  text-align: center;
  font-weight: lighter;
}

.card-footer {
  text-align: center;
  font-weight: bold;
}

.card-link {
  text-align: center;
  font-weight: bold;
  width: 50px;
}