#container { 
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "menu"
    "main"; 
  grid-template-rows: auto 1fr;
}

#container > menu { 
  grid-area: menu;
  position: relative;
  overflow: hidden;
  width: 90%;
  height: 150px;
  background-color:cadetblue;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#container > main {
  grid-area: main;
  position: relative;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

.menu-item {
  font-size: 30px;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  left: 300px;
  border-color:black;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration-color: #000;
}

.active {
  border-radius: 70px;
  background-color: black;
  color: white;
}

.menu-item:hover:not(.active) {
  border-radius: 70px;
  animation: menu-item-hover .4s ease-in;
  background-color: black;
  color: white;
}

@keyframes menu-item-hover {
  0% {
    border-radius: 5px;
    background-color: transparent;
  }
  100% {
    border-radius: 70px;
    background-color: black;
    color: white;
  }
}
